
@{
    ViewBag.Title = "MaintainworkOrderCreate";
    Layout = "~/Views/Shared/_LayouthomePage.cshtml";
}

<div class="layui-side layui-bg-black" style="margin-top: 60px;">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item">
                @Html.ActionLink("创建工单", "MaintainworkOrderCreate", "Home")

            </li>

            <li class="layui-nav-item">
                @Html.ActionLink("工单查询", "MaintainworkOrderQuery", "Home")

            </li>
            <li class="layui-nav-item">
                @Html.ActionLink("维修派工", "MaintainworkOrderAssign", "Home")
            </li>
            <li class="layui-nav-item">
                @Html.ActionLink("零件领取", "MaintainworkOrderGetParts", "Home")
            </li>
            <li class="layui-nav-item">
                @Html.ActionLink("维修结算", "MaintainworkOrderCloseAccount", "Home")
            </li>

        </ul>
    </div>
</div>
<div style="margin-top:70px;">
    <fieldset>

        <legend>普通维修结算</legend>
        <div style="padding:20px;background-color:#F2F2F2">
            <div class="layui-row layui-col-space15">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">

                            <label class="layui-form-label" style="width:174px">搜索工单号:</label>
                            <div class="layui-input-inline">

                                <select name="name" id="name" lay-filter="name" lay-verify="required" lay-search=""></select>

                            </div>

                        </div>
                    </div>
                    <div class="layui-form-item">
                        <table class="layui-show" id="tabledemo" lay-filter="tabledemo"></table>
                    </div>
                </form>

            </div>
        </div>
    </fieldset>
</div>



<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
  
        <div class="layui-input-inline">

            <select name="modules" lay-verify="required" lay-search="">
                <option value="">工单状态</option>
                <option value="1">layer</option>
                <option value="2">form</option>
                <option value="3">layim</option>
                <option value="4">element</option>
            </select>
        </div>
    </div>
</script>
<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="del">结算</a>
</script>
<script>
        layui.use('element', function () {
            var element = layui.element;

        });
        renderForm();
        renderTable('');
        function renderForm(){
            layui.use('form', function () {
                var form = layui.form;
                $.ajax({
                    url: '/Home/List',
                    dataType: 'json',
                    type: 'get',
                    success: function (data) {

                        var temp = 0;
                        $.each(data, function (index, item) {
                            console.log(item.Name);
                            $('#name').append('<option value='+index+'>' + item.Name + '</option>');

                            //temp += ('<option value="">' + item.Name + '</option>');


                        });

                        //$('#name').html(temp);
                        form.render('select');
                    }

                });

                form.on('select(name)', function (data) {
                    //$.get("/Home/PersonList", { name: data.value }, function (data) {
                    //    $("#test").html(data.Name);
                    //});
                    renderTable(data.elem[data.value].text);
                    console.log(data.value);
                    console.log(data.elem[data.value].text);
                    $('#test').html(data.elem[data.value].text);


                });




            });
        }
        function renderTable(m) {
            layui.use('table', function () {
                var table = layui.table;

                //展示已知数据
                table.render({
                    elem: '#tabledemo'
                    , method: 'post'
                    , url: '/Home/MaintainworkOrder_list2'
                    ,where:{name:m}
                    , toolbar: '#toolbarDemo'
                    , title: '用户数据表'
                    , totalRow: true


                  , cols: [[ //标题栏
                    { field: 'orderNum', title: '维修工单号', width: 126 },
                    { field: 'clientName', title: '客户姓名', width: 90 },
                    { field: 'carType', title: '车型', width: 80 },
                    { field: 'createTime', title: '创建时间', width: 140 },
                    { field: 'faultPh', title: '故障现象', width: 111 },
                    { field: 'projects', title: '实际维修项目', width: 121 },
                    { field: 'price', title: '实际价格', width: 95 },
                    { field: 'state', title: '工单状态', width: 99 },
                    { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 180 }

                  ]]

                    //,skin: 'line' //表格风格
                  , even: true
                    , page: true
                        , limit: 1
                    //,page: true //是否显示分页
                    //,limits: [5, 7, 10]
                    //,limit: 5 //每页默认显示的数量

                });
                //工具栏事件
                table.on('toolbar(tabledemo)', function (obj) {

                    var checkStatus = table.checkStatus(obj.config.id);
                    switch (obj.event) {
                        case 'getCheckData':
                            var data = checkStatus.data;
                            console.log("hello");
                            layer.alert(JSON.stringify(data));
                            break;
                        case 'getCheckLength':
                            var data = checkStatus.data;
                            layer.msg('选中了：' + data.length + ' 个');
                            break;
                        case 'isAll':
                            layer.msg(checkStatus.isAll ? '全选' : '未全选')
                            break;
                        case 'detail':
                            console.log('hello');


                            break;
                    }
                });
                //监听工具条
                table.on('tool(tabledemo)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                    var data = obj.data; //获得当前行数据
                    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                    var tr = obj.tr; //获得当前行 tr 的DOM对象

                    if (layEvent === 'detail') { //查看
                        layer.msg(data.Name);
                        window.location.href = "/Home/MaintainOrderCheck?name=" + data.Name;
                    } else if (layEvent === 'del') { //删除
                        layer.confirm('真的删除行么', function (index) {
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.close(index);
                            //向服务端发送删除指令
                        });
                    } else if (layEvent === 'edit') { //编辑
                        //do something
                        layer.msg(data.Name);
                        window.location.href = "/Home/MaintainOrderEdit?name=" + data.Name;
                        //同步更新缓存对应的值
                        obj.update({
                            username: '123'
                          , title: 'xxx'
                        });
                    }
                });

            })};



</script>
